{% load staticfiles %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
		<title>Gerador de Contratos - Una</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- jQuery UI CSS -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

			<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
		<!--===============================================================================================-->

			<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="{% static 'vendor/noui/nouislider.min.css' %}">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
		<!--===============================================================================================-->
 <!-- href="{% static 'vendor/daterangepicker/daterangepicker.css' %}"> -->
  </head>
  <body>
      <div class="container-contact100">
          <div class="wrap-contact100">
          <div class="row">
						<form method="POST" action="/confirmar_dados" class="contact100-form validate-form" name="contratoForm">{% csrf_token %}
							<span class="contact100-form-title">
								Gerador de Contratos - UnaCoaching
							</span>
							<div class="wrap-input100 bg1" data-validate = "O nome do Contratante informado é inválido">
								<span class="label-input100">Contratante *</span>
									<input class="form-control" type="text" name="contratante" value='{{ contratante }}' placeholder="Confirme o nome do Contratante " required>
							</div>

							<div class="wrap-input100 bg1" data-validate = "O Email informado é inválido">
							<span class="label-input100">Email *</span>
								<input class="form-control" type="text" name="email" value='{{ email }}' placeholder="Confirme o Email do Contratante " disabled>
							</div>

							<div class="wrap-input100 bg1 rs1-wrap-input100" data-validate = "O RG informado é inválido">
								<span class="label-input100">RG *</span>
								<input class="form-control" type="text" name="rg" value='{{ rg }}' placeholder="Confirme o RG do Contratante" required>
							</div>

							<div class="wrap-input100 bg1 rs1-wrap-input100" data-validate = "O CPF informado é inválido">
								<span class="label-input100">CPF *</span>
								<input class="form-control cpf-mask" type="text" name="cpf" value='{{ cpf }}' placeholder="Confirme o CPF do Contratante" required>
							</div>

							<div class="wrap-input100 bg1" data-validate = "O endereço informado é inválido">
								<span class="label-input100">Endereço *</span>
									<input class="form-control" type="text" name="endereco" value='{{ endereco }}' placeholder="Confirme o endereço do Contratante " required>
							</div>

							<div class="wrap-input100 bg1 rs1-wrap-input100" data-validate = "A Cidade/Estado informados são inválidos">
								<span class="label-input100">Cidade/Estado *</span>
								<input class="form-control" type="text" name="cidade-estado" value='{{ cidade_estado }}' placeholder="Confirme a Cidade/Estado do Contratante" required>
							</div>

							<div class="wrap-input100 bg1 rs1-wrap-input100" data-validate = "O CEP informado é inválido">
								<span class="label-input100">CEP *</span>
								<input class="form-control cep-mask-placeholder" type="text" name="cep" value='{{ cep }}' placeholder="Confirme o CEP do endereço do Contratante" required>
							</div>

							<div class="wrap-input100 bg1 rs1-wrap-input100" data-validate = "O Telefone informado é inválido">
								<span class="label-input100">Telefone *</span>
								<input class="form-control phone-mask" type="text" name="telefone" value='{{ telefone }}' placeholder="Confirme o telefone do Contratante" required>
							</div>

							<div class="wrap-input100 bg1 rs1-wrap-input100" data-validate = "A data de nascimento informada é inválida">
								<span class="label-input100">Data de Nascimento *</span>
								<input class="form-control" type="text" name="data_nascimento" value='{{ data_nascimento }}' placeholder="Confirme a data de nascimento do Contratante" required>
							</div>

							<div class="container-contact100-form-btn">
								<button type="submit" class="contact100-form-btn">
									<span>
										Avançar
										<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
									</span>
								</button>
							</div>
						</form>
          </div>
				</div>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.mask.min.js' %}"></script>
    <script src="{% static 'js/masks.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </body>
</html>
