<!DOCTYPE html>
<html lang="en">
<head>
	<title>Gerador de Contratos - Una</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/noui/nouislider.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
<!--===============================================================================================-->
</head>
<body>

	<div class="container-contact100">
		<div class="wrap-contact80">
			<form method="POST" class="contact100-form validate-form">{% csrf_token %}
				<span class="contact100-form-title">
					<strong>PUCCO</strong>
				</span>


						<div class="wrap-input100 validate-input bg1" data-validate = "O Email informado é inválido">
							<span class="label-input100">Email *</span>
							<input class="input100" type="text" value='{{ email }}' name="email"  placeholder="Digite seu email ">
						</div>
						<div class="wrap-input100 validate-input bg1" data-validate = "Senha informada é inválida">
							<span class="label-input100">Senha *</span>
							<input class="input100" type="password" name="senha" placeholder="Digite sua Senha ">
						</div>

						{% if messages %}
								<div class="alert alert-danger" role="alert">
										<h4 class="alert-heading">Não foi possível efetuar o login!</h4>
										<p><strong>Por favor, tente novamente.</strong></p>
										<p> - Verifique se o email e senha digitados estão corretos;</p>
										<p> - Se o erro persistir, entre em contato com a administração através do email: suporte@unacoaching.com.br</p>
										<hr>
								</div>
						{% endif %}

						<div class="container-contact100-form-btn">
							<button type="submit" class="contact100-form-btn">
								<span>
									Login
									<i class="fa fa-cogs" aria-hidden="true"></i>
								</span>
							</button>
						</div>
					</form>
		</div>
	</div>



<!--===============================================================================================-->
	<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/bootstrap/js/popper.js"></script>
	<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/daterangepicker/moment.min.js"></script>
	<script src="static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/noui/nouislider.min.js"></script>
	<script>
	    var filterBar = document.getElementById('filter-bar');

	    noUiSlider.create(filterBar, {
	        start: [ 1500, 3900 ],
	        connect: true,
	        range: {
	            'min': 1500,
	            'max': 7500
	        }
	    });

	    var skipValues = [
	    document.getElementById('value-lower'),
	    document.getElementById('value-upper')
	    ];

	    filterBar.noUiSlider.on('update', function( values, handle ) {
	        skipValues[handle].innerHTML = Math.round(values[handle]);
	        $('.contact100-form-range-value input[name="from-value"]').val($('#value-lower').html());
	        $('.contact100-form-range-value input[name="to-value"]').val($('#value-upper').html());
	    });
	</script>
<!--===============================================================================================-->
	<script src="static/js/main.js"></script>


</body>
</html>
